.pagination {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.pagination li {
  border-right: 1px solid var(--color-highlight_l2);
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  display: inline;
}

.pagination li.disabled {
  display: none;
}

.pagination li.active {
  background: var(--color-highlight_l3);
  color: var(--color-primary);
  font-weight: 700;
}